<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventário de Equipamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body mb-2" data-bs-theme="dark">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">BR COMPANY</span>
        </div>
    </nav>

    <main class="container">  
        <h1> Inventario de equipamentos </h1>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Adicione um formulário de pesquisa -->
    <form method="get">
        <input type="text" name="q" placeholder="Pesquisar equipamentos..." value="{{ request.GET.q }}">
        <button type="submit">Pesquisar</button>
    </form>

    <table class="table table-dark table-striped">
        <thead>

         <tr>
                <th scope="col">ID</th>
                <th scope="col">Equipamento</th>
                <th scope="col">Valor</th>
                <th scope="col">Serial</th>
                <th scope="col">Departamento</th>
                <th scope="col">Nome Responsável</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data e Hora</th>
                <th scope="col">Terminal</th>
                <th scope="col">Usuário</th>
         </tr>
        </thead>
        <tbody>
        {% for equipamento in equipamentos %}
            <tr>
                <td>{{ equipamento.id }}</td>
                <td>{{ equipamento.equipamento }}</td>
                <td>{{ equipamento.valor }}</td>
                <td>{{ equipamento.serial }}</td>
                <td>{{ equipamento.departamento }}</td>
                <td>{{ equipamento.nome_responsavel }}</td>
                <td>{{ equipamento.telefone }}</td>
                <td>{{ equipamento.email }}</td>
                <td>{{ equipamento.data_hora }}</td>
                <td>{{ equipamento.terminal }}</td>
                <td>{{ equipamento.usuario }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>
